html {
    scroll-behavior: smooth;
}


h1{
    font-size: 50px;
}


.carousel img{
    height: auto;
    max-height: 100vh;
    max-width: 100vw;
}
  
.carousel-caption-title{
      size: 50px;
}

.carousel {
    max-height: 100vh;
    max-width: 100vw;
}
  
  /* Since positioning the image, we need to help out the caption */
.carousel-caption {
    top: 50%;
    transform: translateY(-20%);
}

/* About Section */
h2 {
	margin: 0 0 20px 0;
	color: #FFD37C;
    text-shadow: 4px 2px 8px black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 4em;
}

hr {
    height: 2px;
    width: 90px;
    text-align: center;
    position: relative;
    background: #ffffff;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 0;
}

.section-title {
	padding-bottom: 50px;
}

.section-title.center {
	padding: 10px 0 40px 0;
}

/* about */
#about {
    max-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
    min-height: 100vh;

	padding: 100px 0;
	
	background: #8b0000;
	
}
#about .about-text {
	margin-left: 10px;
}

#about img {
    float: right;
    max-width: 40vw;
    max-height: 40vh;
}
#about p {
	margin-bottom: 30px;
    line-height: 21px;
    color: #fff;
}

@media (max-width: 1024px) {
    #about img {
        float: left;
        margin-bottom: 20px;
    }
}

/* hunter */

#hunter {
    max-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
    min-height: 100vh;

	padding: 100px 0;
	
	background: #003366;
	
}

#hunter h2 {
    /* color: white; */
    color: #FFD37C;
    text-shadow: 4px 2px 8px black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 4em;
}

#hunter .hunter-text {
    margin-left: 10px;
    color: white;
}

#hunter img {
    float: right;
    max-width: 40vw;
    max-height: 40vh;
}
#hunter p {
	margin-bottom: 30px;
    line-height: 21px;
    color: #fff;
}

@media (max-width: 1024px) {
    #hunter img {
        float: left;
        margin-bottom: 20px;
    }
}



/* organizer */

#organizer {
    max-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
    min-height: 100vh;

	padding: 100px 0;
	
	background: rgb(84,208,221);
	
}
#organizer .organizer-text {
	margin-left: 10px;
}

#organizer img {
    float: right;
    max-width: 40vw;
    max-height: 40vh;
}
#organizer p {
	margin-bottom: 30px;
    line-height: 21px;
    color: #fff;
}

@media (max-width: 1024px) {
    #organizer img {
        float: left;
        margin-bottom: 20px;
    }
}


.btn-default {
	text-transform: uppercase;
	color: #ffffff;
	background-color: #000000;
	padding: 14px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
	margin-top: 20px;
    transition: all 0.3s;
}

/* game list */


#game-list {
	padding: 120px 0;
	background: #004d1a; 
}

#game-list .game-list-item{
	padding: 0 0;
    /* background: #fff;  */
    margin: auto;
}


#game-list h2 {
    color: #FFD37C;
    text-shadow: 4px 2px 8px black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 4em;
}

.game-list-item .hover-bg {
    margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.game-list-item .hover-bg:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.game-list-item .hover-bg img{
    max-width: 20vw;
    margin-left: 15px;
}

.game-list-item .hover-bg .hover-text{
    position: absolute;
    text-align: center;
    min-width: 20vw;
    min-height: 30vh;
    margin-left: 15px;
}

.hover-bg .hover-text h4{
    opacity: 0;
    margin: 20px;
}

.hover-bg:hover .hover-text>h4{
    opacity: 1;
    
    text-transform: uppercase;
    -webkit-transform: translateY(100%);
	transform: translateY(100%);
    transition: all 0.3s;
    color: white;
    font-weight: bold;
}

.game-desc{
    margin-top: 20px;
    margin-left: 10px;
    color: #fff;
}

h4 {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
}


  /* your game */
#yourGame {
    padding-top: 120px;
    padding-bottom: 80px;
    width: 100vw;
    background-image: url("../img/backgroundsea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#yourGame h2{
    color: rgb(255, 255, 255);
    text-shadow: 4px 2px 8px black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 4em;
}

#yourGame h3{
    color: rgb(255, 255, 255);
    text-shadow: 4px 2px 8px rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 2em;
}

.game-card {
    background-color: rgb(255, 255, 255);
    border-color: #fff;
}

/* .game-card  img{
} */

.card-desc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: auto;
    font-size: small;
    /* min-height: auto; */
    max-height: 120px;
}

.card-tag {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-height: 3px;
}

#game-list-organizer{
    padding: 120px 0;
    /* background: #004d1a;  */
    background-image: url("../img/backgroundtreasure.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#game-list-organizer h2{
    color: #fff;
}


/* Form */
.newGamebg{
    background-image: url("../img/updategamebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.updateGamebg{
    background-image: url("../img/updategamebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#addgame {
    padding: 120px 0;
    /* background-color: #003366; */
}

#addgame h1{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

label{
    color: rgb(0, 0, 0);
}