#wrapper{
	padding-top: 40px;	
}

.row{
	margin-right: -15px;
	margin-left: -15px;
}

.row:before, .row:after{
	display: table;
	content: " ";
}

*:before, *:after{
	box-sizing: border-box;
}

.form-group{
	position: relative;
	margin-bottom: 15px;
}

*{
	box-sizing: border-box;
}

div{
	display: block;
}

.control-label{
	font-weight: 500;
	color: #79899d;
	font-size: 11px;
	text-transform: uppercase;
	display: inline-flex;
}

label{
	max-width: 100%
	margin-bottom:5px;
	cursor: default;
}

.intl-tel-input{
	width: 100%;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
}

.intl-tel-input .flag-container{
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 1px;
}

.intl-tel-input .selected-flag{
	z-index: 1;
	position: relative;
	width: 42px;
	height: 100%;
	padding: 0 0 0 8px;
}

.intl-tel-input .selected-flag .iti-flag{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.iti-flag.us{
	height: 11px;
	background-position: -5241px 0px;
}

.iti-flag{
	width: 20px;
	box-shadow: 0px 0px 1px 0px #888;
	background-image: url("https://account.hubstaff.com/assets/intl-tel-input/flags-5dc46ee2193301edc4346992384f653711daf516db660ebd24e3b0423539e121.png");
	background-repeat: no-repeat;
	background-color: #DBDBDB;
}

.intl-tel-input .selected-flag .arrow{
	position: absolute;
	top: 50%;
	margin-top: -2px;
	right: 4px;
	width: 0;
	height: 0;
	border-left:3px solid transparent;
	border-right: 3px solid transparent;
	border-top:4px solid #555;
}

.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel]{
	position: relative;
	z-index: 0;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-left: 48px;
	margin-left: 0;
	transition: background-color 100ms ease-out;
}



.col-md-9, .col-md-3{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.text-center{
	text-align: center;
}

h3{
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 300;
	line-height: 1.1;
	color: inherit;
	display: block;
}

form{
	display: block;
	margin-top: 0em;
}

input, button, select{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	font: inherit;
	margin: 0;
}

body{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333333;
	background-color: #fff;
}

.form-control{
	box-shadow: none;
	border-radius: 6px;
	padding: 9px 14px;
	height: 40px;
	display: block;
	width: 100%;
	border: 1px solid #ccc;               
}

abbr[title]{
	text-decoration: none;
	cursor: help;
	border-bottom: none;
}

.input-group .form-control{
	z-index: 2;
	float: left;
	min-width: 0;
}

.pull-right{
	float: right !important;
}

.btn-default{
	background-color: #fff;
	border-color: #333;
}

.form-action>*{
	margin-left: 1ex;
}

.avatar.avatar-normal{
	width: 150px;
	height: 150px;
}

.avatar{
	border-radius: 50%;
	margin-right: 5px;
}

img{
	vertical-align: middle;
	border: 0;
}

a{
	color: #5db3f5;
	text-decoration: none;
	background-color: transparent;
}

.btn-block+.btn-block{
	margin-top: 5px;
}

.input-group[class*="col-"]{
	float: none;
	padding-right: 0;
	padding-left: 0;
}


